body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 1rem;
}

label {
    display: block;
    margin-bottom: 4px;
}

input[type="email"],
input[type="password"] {
    border-radius: 5px;
    border: 1px solid #0288D1;
    padding: 0.5rem 0.6rem;
    margin-bottom: 1rem;
    outline: 0;
    transition: box-shadow 0.25s, border 0.25s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    border: 1px solid #1565C0;
    box-shadow: 0 0 10px #4FC3F7;
}

button {
    background-color: #00796B;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    border: 0;
    font-size: 1rem;
}

button:hover {
    background-color: #00695C;
}