body {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    width: 800px;
    margin: auto;
    /*background-color: orange;*/
    text-align: center;
}

.main-container h2 {
    color: grey;
    font-size: 14px;
    margin-top: 30px;
}

.main-container p {
    color: grey;
    font-size: 14px;
    text-align: left;
}

div h4:first-of-type {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}

#icons-container{
    text-align: right;
}

#icons-container span {
    color: #ffffff;
    background-color: #1E88E5;
    padding: 5px;
    border-radius: 3px;
}

#divider {
    border: 1px solid grey;
    margin: 5px 0;
}

div h3:first-of-type {
    font-weight: bold;
    font-size: 14px;
    color: #616161;
    text-align: left;
}



#avatar-image {
    width: 60px;
    border-radius: 100%;
    border: 3px solid white;
}


