body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {

}

/* input styles */
.username-input {

}

.password-input {

}


/* image styles  */
.login-cover {

}

.item {
    font-family: "Khmer OS System";
    background-color: orange;
}

.nav-item {
    background-color: gold;
}
