.container {
    background-color: gold;
    display: grid;
    height: 100vh;
    grid-template: repeat(3, 33fr) / repeat(3, 33fr);
    grid-template-areas: "sidebar header header"
                         "sidebar gallery gallery"
                         "sidebar gallery gallery";
}

.sidebar {
    background-color: orange;
    grid-area: sidebar;
}

.header {
    background-color: dodgerblue;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.gallery {
    background-color: grey;
    grid-area: gallery;
    display: grid;
    grid-template: repeat(2, 50fr)/repeat(2, 50fr);
    align-items: stretch;
    justify-items: stretch;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

img {
    width: 100%;
}